/* better scrollbar for Chrome and Safari */
main {
  scroll-behavior: smooth;
}
@media screen and (min-width: 62em) {
  main::-webkit-scrollbar {
    display: block;
  }
  main::-webkit-scrollbar-track {
    background-color: var(--default-bg);
  }
  main::-webkit-scrollbar-thumb {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.2);
    transition-duration: 500ms;
  }
  main:hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }
  .dark main::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
